

/* @font-face {
    font-family: 'MyWebFont';
    src:  url('../fonts/Roboto-Black.woff') format('woff'),
          url('../fonts/Roboto-BlackItalic.ttf') format('ttf'),
          url('../fonts/Roboto-Bold.ttf') format('ttf'),
          url('../fonts/Roboto-BoldItalic.ttf') format('ttf'),
          url('../fonts/Roboto-Italic.ttf') format('ttf'),
          url('../fonts/Roboto-Light.ttf') format('ttf'),
          url('../fonts/Roboto-LightItalic.ttf') format('ttf'),
          url('../fonts/Roboto-Medium.ttf') format('ttf'),
          url('../fonts/Roboto-MediumItalic.ttf') format('ttf'),
          url('../fonts/Roboto-Regular.ttf') format('ttf'),
          url('../fonts/Roboto-Thin.ttf') format('ttf'),
          url('../fonts/Roboto-ThinItalic.ttf') format('ttf'),
  } */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'MyWebFont', Roboto , sans-serif; */
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul {
    padding: 0px;
    list-style: none;
}

.max100 {
    width: 100%;
    height: auto;
}

/* header */

.header-bottom {
    z-index: 1010;
    position: fixed;
    width: 100%;
}

.header-bottom .container {
    height: 100%;
}

.header-bottom .row {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}


.header-top {
    height: 50px;
    line-height: 50px;
    background: #13a64e;
    padding: 0px 40px;
}

.header-top a {
    color: white;
    font-size: 17px;
    margin: 5px;
}

.header-top-left a:nth-child(1) {
    margin-right: 30px;
}

.header-top a i {
    font-size: 22px;
}


.mt-div {
    margin-top: 50px;
}

.header-top-left {
    float: left;
}

.lang-icon {
    float: right;
    margin-bottom: 0px;
}

.lang-icon li {
    display: inline-block
}

.header-bottom {
    /* height: 100px; */
    /* width: 100%; */
    padding: 25px 0px;
    /* background-color: white; */
    /* transition: 0.5s; */
}

#hero-wrapper {
	 height: 100%;
	 width: 100%;
	 /* position: fixed; */
}
 #hero-wrapper .carousel-wrapper, #hero-carousel {
	 height: 100%;
	 width: 100%;
	 /* position: absolute; */
}
 #hero-carousel img {
	 left: 0;
	 bottom: 0;
     min-width: 100%;
	 min-height: 100%;
	 max-width: none;
	 width: 100vw;
	 height: 100vh;
}
 #hero-carousel i {
	 position: absolute;
     top: calc(50% - 80px);
     font-size: 80px;
    color: green;
}
 .carousel-fade .carousel-inner .item {
	 opacity: 0;
	 transition-property: opacity;
}
 .carousel-fade .carousel-inner .active {
	 opacity: 1;
}
 .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	 left: 0;
	 opacity: 0;
	 z-index: 1;
}
 .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	 opacity: 1;
}
 .carousel-fade .carousel-control {
	 z-index: 2;
}
 

.logo {
    margin: 0px;
}

/* .carousel , .carousel img{
    height: 100vh!important;
} */

.logo {
    transition: 0.5s;
}

.menu li {
    display: inline-block;
}


.header-bottom .container {
    width: 80%;
    margin: auto;
}
.menu li > a {
    font-size: 17px;
    color: black;
    margin-right: 25px;
    font-weight: 700;
    padding: 15px 0px;
    text-transform: uppercase;
}

.menu li > a:nth-last-child() {
    margin-right: 0px;

}

.menu .active {
    color: #13a64e;
}

.about .row {
    display: flex;
    align-items: center;
}

.about .btn {
    border-radius: 0px;
}



.title-modify {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.autoplay .slick-dots li button:before {
    color:  #ccc;
}

.autoplay .slick-dots li.slick-active button:before {
    opacity: .75;
    color: green;
}

.slick-initialized .slick-slide {
    display: block;
    border: 1px solid #ddd;
    margin: 0px 5px;
}

.about p {
    font-size: 12px;
}

main {
    padding: 70px 0px 30px 0px;
}

.title-product {
    font-weight: 700;
}

.product .title-modify {
    margin-bottom: 20px;
}

.box-product {
    margin-top: 20px;
}

.info li i {
    font-size: 20px;
    margin-right: 10px;

}

.info li {
    margin-bottom: 10px;
    color: white;
}



.footer-left {
    background-color: #13a64e;
    padding: 50px 70px;
    width: 40%;
    float: left;
}

.map {
    width: 60%;
    float: left;
}

.map iframe {
    height: 477px;
}

.footer-left .title-modify {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.list-icon {
    margin-top: 20px;
    text-align: center;
}

.list-icon li  {
    display: inline-block;
    margin: 0px 5px;
}

.list-icon li a {
    font-size: 20px;
    color: white;
}

.footer-end {
    background-color: #ccc;
    text-align: center;
    font-size: 14px;
    color:black;
    padding: 20px 0px;
    margin-top: 10px;
}

.pagination {
    display: inline-block;
    border-radius:0px;
}

.pagination>li>a, .pagination>li>span {
    background-color:#ddd;
    color: black;
    margin: 0px 5px;
    border-radius:0px!important;
}

.pagination .active a {
    background-color:#13a64e;
}

.img-video {
    position: relative;
    cursor: pointer;
}

.btn-youtube {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px); 
}

/* dropdown */
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    /* right: 0px; */
    top: 36px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    display: block;
    background-color: #13a64e;
    border-bottom: 0.5px solid white;
  }
  .dropdown-content a:last-child {
    border-bottom: 0px;
  }

  .breadcrum {
      background-image: url('../img/breadcrum.png');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 200;
      margin-top: 41px;
      padding: 70px;
      margin-bottom: 40px;
  }
  .breadcrum  .title-modify{
    color: white;
    margin: 0px;
  }

  .breadcrumb {
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
  }

  .row-bs4 {
      display: flex;
      flex-wrap: wrap;
  }

  .breadcrumb a {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    /* font-weight: 600; */
  }

  .dropdown i {
        float: right;
        margin-top: 10px;
        margin-right: 47px;
    }

  .breadcrumb>.active {
      color: #02af02;
      font-size: 17px;
        text-transform: uppercase;
        /* font-weight: 600; */
  }

  .date-tim {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }

    .ati-about .media {
        margin: 20px 0px;
    }
  
    .ati-about .media-heading {
        font-size: 13px;font-weight: 700;margin-bottom: 0px;
    }

    .ati-about .media-body p {
        font-size: 12px;color: green;font-weight: 700;
    }

    .contact .form-group {
        margin-bottom: 10px;
    }

    .contact .form-control {
        border-radius: 0px;
        border: 1px solid #707070;
    }

    .contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #333333!important;
        font-weight: 700;
        font-size: 14px;
        opacity: 1; /* Firefox */
      }

      /* .contact .form-group:focus ::placeholder {
        text-indent: -10000px;
      } */
      
      .contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: black!important;
        font-weight: 700;

      }
      
      .contact ::-ms-input-placeholder { /* Microsoft Edge */
        color: black!important;
        font-weight: 700;
      }
      

    .contact .btn {
        border-radius: 0px;
    }

    #btn-contact {
        padding: 5px 50px;
    }

    .detail-new .media img {
        width: 90px;
        height: auto;
    }

    .autoplay-related .slick-next:before ,  .autoplay-related .slick-prev:before {
        color: black;
    }

    .list-img {
        display: flex;
        flex-wrap: wrap;
    }

    .list-img-item {
        width: 33.33%;
    }

    .bg-img-item {
        position: absolute;
        background-color: #13a64e;
        opacity: 0.5;
        z-index: 1;
        top: 0px;
        height: 100%;
        width: 100%;
        left: 0px;
        cursor: pointer;
    }

    .list-img-item p {
        margin: 5px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }

    .plus {
        z-index: 2;
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        cursor: pointer;
    }

    .plus img {
        width: 75px;
        height: 75px;
        background: white;
        border-radius: 50%;
    }

    .bg-img {
        display: none;
    }

    /* .list-img-item p:hover .bg-img {
        display: block;
    } */

  @media(min-width: 992px) {
    .dropdown:hover .dropdown-content {display: block;}
  }
  .dropdown-content a:hover {background-color: green;}
  
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


  .close-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 25px;
      cursor: pointer;
  }

  .icon-menu {
    font-size: 25px;
    float: right;
    /* margin-right: 20px; */
  }

  .bg-opacity {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.5;
    background-color: black;
    z-index: 100;
  }

  @media(max-width: 1300px) {
    .header-bottom .container {
        width: 100%;
    }
  }

  @media(max-width: 992px) {
    .menu {
        position: fixed;
        top: 0px;
        height: 100%;
        background: white;
        width: 400px;
        right: 0px;
        z-index: 102;
        transform: translate3d(400px, 0px, 0px);
        transition: 0.5s;
    }

    .menu li {
        display: block;
        margin-top: 20px;
        margin-left: 20px;
    }

    .menu  {
        padding-top: 20px;
    }

    .dropdown-content {
        margin-right: 20px;
        margin-top: 10px;
        position: unset;
    }

    .header-top-left a {
        display: block;
        line-height: 20px;
    }
    .header-top {
        height: 57px;
    line-height: 57px;  
    }

    .header-bottom {
        padding: 10px;
    }

    .header-slider {
        padding-top: 80px;
    }
    #hero-carousel img {
        height: auto;
    }

    #hero-carousel i {
        top: calc(50% - 20px);
        font-size: 40px;
    }

    .footer-left {
        padding: 42px 36px;
    }

    .breadcrum { 
        margin-top: 26px;
    }
    .list-new {
        margin-top: 30px;
    }
}

@media(max-width: 768px) { 
    .about .row {
        flex-direction: column-reverse;
    }

    .footer-left {
        width: 100%;
        float: none;
    }

    .map {
        width: 100%;
        float: none;
    }

    .map iframe {
        height: 300px!important;
    }

    .autoplay {
        width: 95%;
        margin: auto;
    }

    .list-img-item {
        width: 50%;
    }

    
}

@media(max-width: 510px) {
    .breadcrum .col-xs-6 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media(max-width: 480px) { 
    .list-img-item {
        width: 100%;
    }
}


@media(max-width: 400px) { 
    .menu { 
        width: 100%;
    }

    .header-top {
        padding: 0px 15px;
    }

    .icon-on-menu {
        display: none!important;
    }
}

.dp-transform {
    transform: translate3d(0px, 0px, 0px);
}

.bg-opacity-block {
    display: block;
}